<h2>スケジュール詳細</h2>


<table>
        <tr>
            <th>予定</th>
            <td><%= @user.content %></td>
        </tr>
        <tr>
            <th>開始日</th>
            <td><%= @user.start.strftime("%Y年%-m月%-d日") %></td>
        </tr>
        <tr>
            <th>終了日</th>
            <td><%= @user.end.strftime("%Y年%-m月%-d日") %></td>
        </tr>
        <tr>
            <th>終日</th>
            <% if @user.allday%>
                <td>○</td>
            <%else%>
                <td></td>
            <%end%>
        </tr>
        <tr>
            <th>備考</th>
            <td><%= @user.notes %></td>
        </tr>    
</table>

<div>
    <ul>
        <li><%= link_to "予定一覧に戻る", :users %></li>
    </ul>

</div>

<%= render "shared/partial2" %>　